<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<header class="header-fixed">

  <div class="header-limiter">

    <h1><a href="#">Gun<span>pair</span></a></h1>

  
            <mat-label class="guntype">Gun Type</mat-label>
            <mat-select (selectionChange) = "changeRuler($event)">
              <mat-option *ngFor="let gun of gunTypeArray" [value]="gun.rulerSrc">
                {{gun.label}}
              </mat-option>
            </mat-select>
  


  </div>

</header>
